# dependencies
/node_modules

# next.js
/.next/
/out/

# generated Prisma client
/app/generated/prisma

# local environment
.env
.env.local
.env.*.local

# logs and operating system files
*.log
.DS_Store

# testing
/coverage

# typescript
*.tsbuildinfo
next-env.d.ts
